<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="descriptionConverter" name="%descriptionConverterExtensionPoint.Name" schema="schema/descriptionConverter.exsd"/>
   <extension-point id="descriptionPreprocessor" name="%descriptionPreprocessorExtensionPoint.Name" schema="schema/descriptionPreprocessor.exsd"/>
   <extension-point id="descriptionLinkResolver" name="%descriptionLinkResolverExtensionPoint.Name" schema="schema/descriptionLinkResolver.exsd"/>
  <extension
        point="org.eclipse.sirius.mmdescriptor">
     <descriptorprovider
           class="org.eclipse.sirius.properties.core.internal.PropertiesMetamodelDescriptorProvider">
     </descriptorprovider>
  </extension>
    <extension
        point="org.eclipse.core.runtime.preferences">
     <initializer
           class="org.eclipse.sirius.properties.core.internal.preferences.SiriusPropertiesViewPreferenceInitializer">
     </initializer>
  </extension>
  <extension
        point="org.eclipse.sirius.migrationParticipant">
     <participant
           class="org.eclipse.sirius.properties.core.internal.migration.DomainClassExpressionMigrationParticipant"
           kind="VSM">
     </participant>
     <participant
           class="org.eclipse.sirius.properties.core.internal.migration.FontSizeMigrationParticipant"
           kind="VSM">
     </participant>
     <participant
           class="org.eclipse.sirius.properties.core.internal.migration.ReferenceWidgetMigrationParticipant"
           kind="VSM">
     </participant>
     <participant
           class="org.eclipse.sirius.properties.core.internal.migration.CategoryMigrationParticipant"
           kind="VSM">
     </participant>
  </extension>
  <extension
        point="org.eclipse.sirius.interpretedExpressionQueryProvider">
     <interpretedExpressionProvider
           class="org.eclipse.sirius.properties.core.internal.expressions.PropertiesExpressionQueryProvider">
     </interpretedExpressionProvider>
  </extension>
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
               <category
            name="%constraint.category.name"
            id="org.eclipse.sirius.properties.constraints"/>
      <constraintProvider
            cache="true"
            mode="Batch">
         <package namespaceUri="http://www.eclipse.org/sirius/1.1.0"/>
         <package namespaceUri="http://www.eclipse.org/sirius/description/1.1.0"/>
         <package
               namespaceUri="http://www.eclipse.org/sirius/description/style/1.1.0">
         </package>
         <constraints categories="org.eclipse.sirius.properties.constraints">
                     <constraint
                  class="org.eclipse.sirius.properties.core.internal.validation.description.constraints.PropertiesConstraint"
                  id="Valid Properties"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.validProperties.name"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  %constraint.validProperties.message
               </message>
               <description>
                  %constraint.validProperties.description
               </description>
            </constraint>
         </constraints>
      </constraintProvider>
   </extension>
</plugin>
