<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2007, 2013 THALES GLOBAL SERVICES.
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 Contributors:
    Obeo - initial API and implementation
 
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated diagram -->
      <factory
            uri="http://www.eclipse.org/sirius/diagram/1.1.0"
            class="org.eclipse.sirius.diagram.provider.DiagramItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated diagram -->
      <factory
            uri="http://www.eclipse.org/sirius/diagram/description/1.1.0"
            class="org.eclipse.sirius.diagram.description.provider.DescriptionItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated diagram -->
      <extender
            uri="http://www.eclipse.org/sirius/description/1.1.0"
            class="org.eclipse.sirius.diagram.description.provider.DescriptionItemProviderAdapterFactory$DescriptionChildCreationExtender"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated diagram -->
      <factory
            uri="http://www.eclipse.org/sirius/diagram/description/style/1.1.0"
            class="org.eclipse.sirius.diagram.description.style.provider.StyleItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated diagram -->
      <factory
            uri="http://www.eclipse.org/sirius/diagram/description/tool/1.1.0"
            class="org.eclipse.sirius.diagram.description.tool.provider.ToolItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated diagram -->
      <extender
            uri="http://www.eclipse.org/sirius/description/1.1.0"
            class="org.eclipse.sirius.diagram.description.tool.provider.ToolItemProviderAdapterFactory$DescriptionChildCreationExtender"/>
      <extender
            uri="http://www.eclipse.org/sirius/description/tool/1.1.0"
            class="org.eclipse.sirius.diagram.description.tool.provider.ToolItemProviderAdapterFactory$ToolChildCreationExtender"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated diagram -->
      <factory
            uri="http://www.eclipse.org/sirius/diagram/description/filter/1.1.0"
            class="org.eclipse.sirius.diagram.description.filter.provider.FilterItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated diagram -->
      <factory
            uri="http://www.eclipse.org/sirius/diagram/description/concern/1.1.0"
            class="org.eclipse.sirius.diagram.description.concern.provider.ConcernItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

</plugin>
